$colors: (
    common: (
        white: #fff,
        black: #181C32,
        black-soft: #38383A,
        black-deep: #000000,
    ),
    body: (
        heading: #000000,
        text: #6E6E6E,
    ),
    color: (
        orange: #F55F1E,
        orange-2: #F27003,
        orange-3: #F4AA3E,
        orange-4: #FEC558,
        orange-5: #ffd139,
        ),
    theme: (
        primary: #829B85,
        primary-dark: #A85855,
        primary-soft: #fff5f5,
    ),
    bg: (
        gray: #F6F6F6,
        gray-2: #F7F7F9,
        gray-3: #ECECEC,
        gray-4: #b2b2b2,
        gray-5: #BCBCBC,
        gray-6: #919191,
        gray-7: #EEEEEE,
        gray-8: #D5D5D5,
        gray-9: #b8b8b8,
        gray-10: #6B6B6B,
        gray-11: #c1c1c1,
        gray-12: #F5F5F5,
        gray-13: #D4D4D4,
        gray-14: #CECECE,
        gray-15: #F8F2F2,
        gray-16: #F8F8F8,
        gray-17:#D3D4C6,
        gray-18: #EBEBEB,
        
    )
)