/*
************
*************************
11. blog-list
******************************************************* 
*************************************************************** */

@use '../abstracts/variables' as *;

.bz-blog-single-list {
    display: flex;
    @media #{$xs} {
        flex-direction: column;
    }
}
.bz-blog-single-img-list {
    flex: 0 0 calc(50% - 40px);
    margin-right: 30px;
    max-width: calc(50% - 40px);
    overflow: hidden;
    @media #{$xs} {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: 30px;
        max-width: 100%;
    }
    a {
        display: block;
        img {
            object-fit: cover;
            min-height: 290px;
            transition: 0.5s ease-in-out;
        }
    }
    &:hover {
        img {
            transform: scale(1.09);
        }
    }
}
.bz-blog-single-title-list {
    font-size: 24px;
    &:hover {
        a {
            color: var(--clr-theme-primary);
        }
    }
}