/*
************
*************************
13. blog-details
******************************************************* 
*************************************************************** */
 
 @use '../abstracts/variables' as *;

.bz-blog-details-title {
    font-size: 34px;
    @media #{$xs} {
        font-size: 28px;
    }
    @media #{$sm} {
        font-size: 30px;
    }
}
.bz-blog-details-content-wrapper {
    hr {
        border-bottom: 1px solid #D5D5D5;
        margin: 25px 0;
    }
    .content-blockquote {
        font-size: 24px;
        line-height: 1.7;
        font-family: $marcellus;
        color: var(--clr-common-black-deep);
        font-weight: 400;
    }
}
.blockquote-author {
    text-align: end;
    font-family: $jost;
    font-size: 24px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: 600;
    .long-border-left {
        display: inline-block;
        width: 85px;
        height: 3px;
        background-color: var(--clr-color-orange);
        margin-right: 15px;
    }
}
.bz-blog-details-tags a {
    font-size: 16px;
    font-weight: 500;
    color: #7a7a7a;
    margin-bottom: 15px;
    height: 40px;
    line-height: 39px;
    padding: 0 15px;
    border: 1px solid #D4D4D4;
    display: inline-block;
    &:not(:last-child) {
        margin-right: 10px;
    }
    &:hover {
        background-color: var(--clr-color-orange);
        color: #fff;
        border-color: var(--clr-color-orange);
    }
}
.bz-blog-reviews-title {
    font-size: 24px;
    font-weight: 600;
}


.bz-blog-details-reviews-block {
    display: flex;
}
.bz-blog-details-reviews-block-img {
    flex: 0 0 62px;
    max-width: 62px;
    margin-right: 20px;
}
.bz-reviews-block-content-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}
.bz-reviews-block-content-date {
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-bottom: 22px;
}
.bz-blog-details-reviews-wrapper {
    ul {
        li {
            &:not(:first-child) {
                margin-left: 85px;
                @media #{$xs} {
                    margin-left: 0;
                }
            }
            &:not(:last-child) {
                .bz-blog-details-reviews-block-content {
                    border-bottom: 1px solid #D4D4D4;
                    padding-bottom: 30px;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

.bz-reviews-block-content-reply {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    &:hover {
        color: var(--clr-theme-primary);
    }
    i {
        font-weight: 700;
        margin-right: 5px;
        display: inline-block;
    }
}

.bz-blog-details-reviews-form-single {
    label {
        font-size: 16px;
        font-weight: 500;
        display: block;
        margin-bottom: 15px;
    }
    input {
        height: 60px;
        width: 100%;
        border: 1px solid #D4D4D4;
        padding: 0 25px;
        line-height: 60px;
        margin-bottom: 25px;
    }
    textarea {
        width: 100%;
        height: 240px;
        border: 1px solid #D4D4D4;
        padding: 25px 25px;
    }
}
.bz-blog-details-submit {
    border: 0;
    background-color: #829B85;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    &:hover {
        background-color: var(--clr-color-orange);
    }
}

.bz-blog-details-content-wrapper.mr-20{
	@media #{$xs, $md} {
        margin-right: 0;
    }
}
.bz-blog-content-wrapper.ml-20 {
    @media #{$xs, $md} {
        margin-left: 0;
    }
}