/*
************
*************************
20. cart
******************************************************* 
*************************************************************** */

@use '../abstracts/variables' as *;

.bz-shopping-cart-table.cart-page {
    table {
        thead {
            background-color: transparent;
            border-bottom: 1px solid #D5D5D5;
            th {
                text-align: center;
                &:first-child {
                    padding-left: 0;
                    text-align: start;
                }
                &:last-child {
                    text-align: end;
                    padding-right: 0;
                }
            }
        }
    }
    .table > :not(caption) > * > * {
        text-align: center;
        &:first-child {
            text-align: start;
        }
        &:last-child {
            text-align: end;
            padding-right: 0;
        }
    }

    .bz-shop-details-content-quantity-box {
        height: 40px;
        width: 90px;
        margin: 0 auto;
        input {
            height: 40px;
        }
    }
}   

.cart-total-change-address-values {
    display: none;
    .nice-select {
        float: none;
        font-size: 16px;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        border-radius: 0;
        border: 1px solid #D5D5D5;
        margin-top: 20px;
        &::after {
            height: 7px;
            width: 7px;
            border-bottom: 1px solid #6E6E6E;
            border-right: 1px solid #6E6E6E;
            right: 20px;
        }
        ul.list {
            width: 100%;
            li {
                height: 50px;
                line-height: 50px;
                padding: 0 20px;
                &:first-child {
                    border-bottom: 0;
                    padding: 0 20px;
                    margin-bottom: 0;
                }
                &:last-child {
                    border-top: 0;
                    padding: 0 20px;
                    margin-top: 0;
                }
            }
        }
      }
    input {
        margin-top: 20px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border: 1px solid #D5D5D5;
        padding: 0 20px;
    }
    .cart-update-btn {
        margin-top: 20px;
        background-color: var(--clr-color-orange);
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        height: 50px;
        line-height: 50px;
        padding: 0 40px;
        border: 0;
        width: 100%;
        &:hover {
            background-color: var(--clr-theme-primary);
        }
    }
}

.bz-cart-total-box-wrapper {
    background-color: #F7F7F9;
    padding: 40px 30px;
    &:is(.ml-30) {
        @media #{$xs, $md} {
            margin-left: 0;
        }
    }
}

.bz-cart-total-box-title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 1px solid #D5D5D5;
    margin-bottom: 0;
}
.bz-cart-total-box-inner-box {
    li {
        font-size: 16px;
        color: #6E6E6E;
        display: block;
        padding: 8px 0;
        &:first-child {
            padding-top: 23px;
            &:is(.b-bottom) {
                border-bottom: 1px solid #D5D5D5;
                padding-bottom: 23px;
                margin-bottom: 10px;
            }
        }
        &:is(.b-bottom) {
            border-bottom: 1px solid #D5D5D5;
            padding-bottom: 23px;
            margin-bottom: 10px;
        }
        &:is(.b-top) {
            margin-top: 15px;
            border-top: 1px solid #D5D5D5;
            padding: 23px 0;
        }
    }
}
.cart-total-value {
    float: right;
}
.cart-total-btn {
    height: 60px;
    padding: 0 25px;
    border: 0;
    background-color: var(--clr-theme-primary);
    color: #fff;
    width: 100%;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    &:hover {
        background-color: var(--clr-color-orange);
        color: #fff;
    }
    &:focus {
        color: #fff;
    }
}
.cart-total-change-address-text {
    font-size: 16px;
    color: #F27003;
    text-decoration: underline;
    font-weight: 500;
    display: block;
    cursor: pointer;
  }

  
.apply-coupon-button {
    input {
        height: 60px;
        padding: 0 20px;
        font-size: 16px;
        border: 1px solid #D5D5D5;
        margin-bottom: 20px;
    }
    button {
        height: 60px;
        border: 0;
        background-color: var(--clr-theme-primary);
        color: #fff;
        font-size: 16px;
        padding: 0 20px;
        font-weight: 500;
        margin-bottom: 20px;
        &:hover {
            background-color: var(--clr-color-orange);
        }
    }
}
