/*
************
*************************
24. contact
******************************************************* 
*************************************************************** */

@use '../abstracts/variables' as *;

.bz-contact-title {
    font-size: 24px;
    font-weight: 600;
}
.bz-contact-input-single {
    label {
        font-size: 16px;
        font-weight: 500;
        display: block;
        margin-bottom: 15px;
    }
    input {
        width: 100%;
        height: 60px;
        border: 1px solid #D5D5D5;
        padding: 0 25px;
        margin-bottom: 25px;
    }
    textarea {
        height: 152px;
        width: 100%;
        border: 1px solid #D5D5D5;
        padding: 20px 25px;
    }
}

.bz-contact-submit-button {
    button[type="submit"] {
        width: 100%;
        height: 60px;
        border: 0;
        background-color: var(--clr-theme-primary);
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        padding: 0 30px;
        &:hover {
            background-color: var(--clr-color-orange);
        }
    }
}


.bz-contact-map {
    height: 429px;
    iframe {
        width: 100%;
        height: 100%;
    }
}


.bz-contact-information-single {
    display: flex;
    align-items: center;
}
.bz-contact-information-text {
    font-size: 16px;
    line-height: 1.5;
    a {
        &:hover {
            color: #829B85;
        }
    }
}
.bz-contact-information-icon {
    margin-right: 15px;
    i {
        font-size: 34px;
        color: #829B85;
        font-weight: 700;
    }
}
.bz-contact-opent-hour-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$xs} {
        align-items: inherit;
        flex-direction: column;
    }
    @media #{$sm} {
        align-items: center;
        flex-direction: row;
    }
}
.bz-contact-open-hour-item-text {
    margin-right: 20px;
    flex: 1;
    display: block;
    position: relative;
    z-index: 1;
    padding-left: 20px;
    @media #{$xs} {
        margin-right: 0;
        margin-bottom: 20px;
    }
    @media #{$sm} {
        margin-right: 20px;
        margin-bottom: 0;
    }
    &:before {
        position: absolute;
        left: 0;
        top: 50%;
        width: 8px;
        height: 8px;
        background-color: #919191;
        content: "";
        border-radius: 50%;
        transform: translateY(-50%);
    }
}
.bz-contact-line {
      flex: 0 0 100%;
}
.bz-contact-line {
    display: inline-block;
    width: 60%;
    height: 1px;
    background-color: #D5D5D5;
    vertical-align: middle;
    margin-right: 10px;
    @media #{$xl} {
        width: 55%;
    }
    @media #{$lg} {
        width: 40%;
    }
    @media #{$xs} {
        width: 25%;
    }
    @media #{$sm} {
        width: 50%;
    }
}
.bz-contact-day {
    margin-right: 10px;
    font-weight: 600;
    color: #000;
}
.bz-contact-opent-text {
    font-weight: 600;
    color: #000;
}
.bz-contact-open-hour-period {
    font-size: 16px;
    border: 1px solid #919191;
    padding: 8px 15px;
    color: #000;
    font-weight: 400;
    text-align: center;
}
.bz-contact-open-hour {
    padding: 30px 30px;
    background-color: #F7F7F9;
}