/*
************
*************************
04. slider
******************************************************* 
*************************************************************** */
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.bz {
    
    &-single{
        &-slider {
            &-main {
                background-color: var(--clr-bg-gray-2);
                position: relative;
                z-index: 1;
                padding-top: 100px ;
                
                @media #{$xl} {
                    padding-top: 80px;
                }
                @media #{$md} {
                    padding-top: 50px;
                }
                @media #{$xs} {
                    padding-top: 50px;
                }

                &-content {
                    
                    z-index: 3;
                    position: relative;
                    padding-bottom: 100px;
                    padding-left: 60px;
                    @media #{$xl} {
                        padding-bottom: 80px;
                        padding-left: 50px;
                    }
                    @media #{$md} {
                        padding-bottom: 50px;
                        padding-left: 30px;
                    }
                   
                    @media #{$xs} {
                        padding-bottom: 50px;
                        padding-left: 25px;
                        padding-right: 25px;
                    }

                    
                    &-subtitle {
                        font-size: 18px;
                        color: var(--clr-theme-primary);
                        background: var(--clr-common-white);
                        display: inline-block;
                        padding: 10px 25px;
                        text-transform: capitalize;
                        margin-bottom: 10px;
                    }
                    &-title {
                        font-size: 52px;
                        line-height: 1.23;
                        color: var(--clr-common-black-deep);
                        margin-bottom: 30px;
                        @media #{$xs} {
                            font-size: 45px;
                        }
                        & span {
                            color: var(--clr-theme-primary);
                            position: relative;
                            display: inline-block;
                            & svg {
                                position: absolute;
                                left: 0;
                                top: 95%;
                            }
                        }
                    }

                    &-text {
                        margin-bottom: 40px;
                    }
                }

                &-img {
                    z-index: 2;
                    position: absolute;
                    right: 25px;
                    bottom: 0;
                    @media #{$xl} {
                        width: 340px;
                    }
                    @media #{$md} {
                        margin-right: 0;
                        width: 290px;
                    }
                }

                &-feature {
                    background-color: var(--clr-bg-gray-3);
                    padding-right: 15px;
                    padding-left: 15px;
                    z-index: 5;
                    position: relative;
                    padding-top: 32px;

                    @media #{$md} {
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                    @media #{$xs} {
                        flex-direction: column;
                        padding-left: 0;
                        padding-right: 0;
                    }

                    &-item {

                        padding: 0 25px;
                        margin-bottom: 27px;
                        @media #{$xs} {
                            margin-bottom: 32px;
                        }
                       
                        &-heading {
                            margin-bottom: 15px;
                            display: flex;
                            align-items: center;

                            @media #{$xl} {
                                margin-bottom: 10px;
                                flex-direction: column;
                                align-items: flex-start;
                            }
                            @media #{$md} {
                                margin-bottom: 10px;
                                flex-direction: column;
                                align-items: flex-start;
                            }
                            @media #{$xs} {
                                margin-bottom: 10px;
                            }
                            i {
                                color: var(--clr-theme-primary);
                                display: inline-block;
                                font-size: 30px;
                                margin-right: 15px;

                                @media #{$xl}{
                                    display: block;
                                    margin-bottom: 10px;
                                    margin-right: 0;
                                }

                                @media #{$md}{
                                    display: block;
                                    margin-bottom: 10px;
                                    margin-right: 0;
                                }
                            }
                            &-title{
                                display: inline-block;
                                font-size: 22px;
                                color: var(--clr-common-black-deep);
                                margin-bottom: 0;
                                transition: .3s;

                                @media #{$xl}{
                                    display: block;
                                }

                                @media #{$md} {
                                    font-size: 20px;
                                    display: block;
                                }

                                &:hover {
                                    color: var(--clr-theme-primary);
                                }

                            }
                        }
                        &-text {
                            p {
                                line-height: 1.75;
                                color: var(--clr-body-text);
                                margin-bottom: 0;

                                @media #{$md} {
                                    font-size: 15px;
                                    line-height: 1.66;
                                }

                                & br {
                                    @media #{$md} {display: none;}
                                }
                            }
                        }
                    }
                }

                &-bg {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;
                }
            }

            &-sidebar {
                background-color: var(--clr-bg-gray-2);

                &-img {
                    text-align: center;
                }
            }
        }
    }
    
}

.bz-single-silder-main-wrapp {
    position: relative;
    z-index: 2;
}
.bz-btn {
    background-color: var(--clr-theme-primary);
    font-weight: 500;
    padding: 15px 40px;
    color: var(--clr-common-white);
    text-transform: capitalize;
    display: inline-block;

    &:hover {
        background-color: var(--clr-color-orange);
        color: var(--clr-common-white);
    }
    &:focus {
        color: var(--clr-common-white);
    }
}




//  home 2 slider 

.bz-single-slider-2 {
    min-height: 810px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;  
    @media #{$md} {
        min-height: 650px;
    }
    @media #{$xs}{
        min-height: 700px;
    }
}
.bz-slider-2-content .title {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
    @media #{$md}{
        font-size: 60px;
    }
    @media #{$xs}{
        font-size: 40px;
        margin-bottom: 20px;
    }
    @media #{$sm}{
        font-size: 50px;
    }
}
.bz-slider-2-content .text {
    color: #6B6B6B;
    font-size: 18px;
}

.bz-slider-2-btn {
    display: flex;
    align-items: center;
    gap: 35px;
    .bz-btn-video {
        font-size: 16px;
        color: #6B6B6B;
        display: inline-block;
        position: relative;
        &::before {
            position: absolute;
            left: -8px;
            top: 0px;
            content: "";
            background: #829B85;
            width: 46px;
            height: 46px;
            border-radius: 50%;
            clip-path: polygon(0 0, 0% 100%, 100% 0);
            transform: rotate(-15deg);
            transition: .3s ease;
        } 
        i {
            background: #fff;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 42px;
            border-radius: 50%;
            font-size: 13px;
            color: #222222;
            margin-right: 5px;
            display: inline-block;
            position: relative;
            transition: .3s ease;
            
        }
        &:hover {
            color: #FB4A19;
            &::before {
                background-color: #FB4A19;
            }
            & i{
                background-color: #829B85;
                    color: #fff;
            }
        }
    }
    @media #{$xs}{
        flex-direction: column;
        align-items: start;
        gap: 20px;
        .bz-btn-video {
            margin-left: 8px;
        }
    }
}

.bz-slider-active-2 {
    position: relative;
}




.slider-swiper-pagination-2.swiper-pagination-clickable.swiper-pagination-bullets {
    position: absolute;
    left: 140px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    bottom: unset;
    @media #{$xxl}{
        left: 80px;
    }
    @media #{$xl, $lg, $md, $xs}{
        display: none;
    }
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0;
	margin-bottom: 20px;
    display: block;
    background: #888;
    width: 6px;
    height: 6px;
    opacity: 1;
    margin-left: 12px;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #fff;
    border: 1.5px solid #888;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 0;
    &::after {
        background: #FB4A19;
        position: absolute;
        left: 50%;
        top: 50%;
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
}

// navigation 
.slider-navigation {
	position: absolute;
	left: 0;
	bottom: 45px;
	z-index: 9;
	text-align: center;
	right: 0;
}
.slider-navigation .slider-swiper-navigation {
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
    cursor: pointer;
    transition: .3s ease;
    color: #6B6B6B;
    &:hover {
        color: #222;
    }
}
.slider-navigation .slider-swiper-button-prev-2 {
    position: relative;
    padding-right: 10px;
    margin-right: 5px;
    &::after {
        position: absolute;
        top: 1px;
        right: 0;
        content: '';
        width: 1px;
        height: 15px;
        background: #6B6B6B;
    }
}


.slider-navigation-wrap {
    display: inline-block;
    border-top: 1px solid #6B6B6B;
    padding: 25px 30px 0 30px;
  }

// button 
.bz-btn {
    background-color: var(--clr-theme-primary);
    font-weight: 500;
    padding: 15px 40px;
    color: var(--clr-common-white);
    text-transform: capitalize;
    display: inline-block;

    &:hover {
        background-color: var(--clr-color-orange);
        color: var(--clr-common-white);
    }
}
.bz-btn-2 {
    background: var(--clr-color-orange);
    &:hover {
        background: var(--clr-theme-primary);
    }
}
.bz-slider-2-btn .bz-btn-video:hover i {
    background: #FB4A19;
}