/*
************
*************************
18. wishlist
******************************************************* 
*************************************************************** */

@use '../abstracts/variables' as *;

.bz-shopping-cart-table {
    overflow-x: auto;
    table {
        border-radius: 5px;
        width: 100%;
        margin-bottom: 0;
        @media #{$xs, $md, $lg} {
            min-width: 930px;
        }
        thead {
            background-color: #D3DBD6;
            border-radius: 5px;
            th {
                font-size: 18px;
                font-weight: 600;
                color: #000;
                &:first-child {
                    padding-left: 35px;
                }
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid #D5D5D5;
            }
        }
    }
    .table {
        & > :not(caption) > * > * {
            padding: 25px 0;
            border: 0;
            vertical-align: middle;
        }
        & > :not(caption) > * > *:not(:first-child) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
        &:hover {
            a {
                color: var(--clr-theme-primary);
            }
        }
    }
}

.bz-shopping-cart-product-box {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    .image {
        flex: 0 0 130px;
        max-width: 130px;
        height: 120px;
        img {
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.bz-product-cart-price {
    font-weight: 500;
    font-size: 16px;
}
.bz-add-to-cart-btn.has-cart-popup {
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    background-color: var(--clr-theme-primary);
    display: inline-block;
    padding: 0 25px;
    border-radius: 5px;
    color: #fff;
    &:hover {
        background-color: var(--clr-color-orange);
    }
}
.bz-share-text {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    margin-right: 5px;
}
.bz-social-share {
    a {
        display: inline-block;
        padding: 5px 0;
        margin-right: 5px;
        color: #919191;
        position: relative;
        z-index: 1;
        transition: 0.3s;
        &:hover {
            color: #F55F1E;
            &::before {
                opacity: 1;
                visibility: visible;
                width: 100%;
            }
        }
        &:before {
            position: absolute;
            left: 0;
            bottom: 0;
            content: "";
            background-color: red;
            width: 0;
            height: 3px;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
        }
    }
}

.action-close {
    i {
        color: #707070;
        font-weight: 500;
        cursor: pointer;
    }
    &:hover {
        i {
            color: var(--clr-color-orange);
        }
    }
}